/* html body {
  height: 100%
}

#google_search_container {
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

#search_results_info {
    margin-left: 150px;
    font-family: 'Arial';
}

#search_result_numbers {
    color: #9aa0a6;
}

.search_results {
  margin-left: 8px;
}
.search_results h2 {
  font-size: 19px;
  color: #1A0DAB;
  margin-bottom: 0px;
  margin-top: 10px;
}
.search_results p {
  font-size: 13px;
  margin-top: 0;
  color: #525252;
}

#sub_search_results {
  margin-left: 100px;
  font-family: 'Arial';
}
#sub_search_results_2 {
  margin-left: 420px;
  font-family: 'Arial';
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid_item {
  font-size: 30px;
  text-align: center;
}

#toc_container {
    background-color: #dce502;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

@media screen and (max-width: 400px) {
  .flexbox_container {
    margin: 1em 2em;
  }
}

@media screen and (max-width: 1900px) {
  .flexbox_container {
    margin: 1em 2em;
  }
}

.flexbox_container {
  display: flex;
}

.flexbox_item {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: antiquewhite;
}

.flexbox_item_1 {
  min-height: 100px;
  flex-shrink: 0;
}

.flexbox_item_2 {
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0;
}

.flexbox_item_3 {
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
} */

#screen {
  display: grid;
  border: 3px double;
  margin: 10% auto;
  background-color: linen;
  width: 70%;
  box-shadow: -5px 7px LightGray;
  grid-template-areas: "window_bar window_bar"
                       "left_profile project";
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 80%;
  row-gap: 15%;
}

#left_profile {
  grid-area: left_profile;
}

#info_row {
  grid-area: info_row;
}

#window_bar {
  grid-area: window_bar;
}

#project {
  grid-area: project;
}
