/* .fullscreen {
  width: 100vw;
  height: 100vh;
  background-size: auto;
  background-size: 105rem;
  background-image: url(img/grid.png);
  background-color: #D5F2E2;
}
 */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas: "bar""screen";
  padding-top: 100px;
}

.bar {
  grid-area: bar;
  background: #F34119;
  width: 1080px;
  margin: auto;
  padding: 7px;
  border: 3px solid #251F1F;
}

.screen {
  display: grid;
  grid-template-columns: 0.9fr 2.2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas: "sidebar content content""sidebar content content""sidebar content content";
  grid-area: screen;
  width: 1100px;
  height: 620px;
  margin: 0px auto;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}

.logo {
  grid-area: logo;
  text-align: center;
  background-color: #FAF4E6;
  border: 2px solid #251F1F;
}

#shrimp {
  max-width: 70%;
  /* border: 2px solid #251F1F; */
  padding-top: 25px;
  padding-bottom: 25px;
}

.sidebar {
  grid-area: sidebar;
  border: 3px solid #251F1F;
  background-color: #FAF4E6;
}

.btn {
  background-color: #F57037;
  color: white;
  padding: 10px 24px;
  text-decoration: none;
  display: block;
  width: 55%;
  margin: 22px auto;
  text-align: center;
  border: 2px solid #251F1F;
}

.btn:hover {
  background-color: #D45924;
}

.button_group btn:not(:last-child) {
  border-bottom: none;
}

.content {
  grid-area: content;
  border: 3px solid #251F1F;
  background-color: #E7836D;
}

.content-hold {
  ----

}

.group_circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #f9f9f9;
  border-radius: 50%;
  margin: 0 4px 0 0;
  border: 2px solid #251F1F;
}

.red {
  background: #BD3206;
}

.yellow {
  background: #FAC696;
}

.green {
  background: #5CCA7B;
}

body {
  font-size: 14px;
  font-weight: 300;
  font-family: monospace,sans-serif;
  color: #251F1F;
  background-color: #fff;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr;
    grid-template-areas: "bar""screen"
  }

  .bar {
    width: 275px;
  }

  .screen {
    width: 300px;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
    border: none;
  }

  .content {
    grid-area: content;
    width: 200px;
    border: none;
  }

  .button_group {
    width: 25%;
  }
}

#frown {
  max-width: 70%;
}

button {
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  color: #9BA2FF;
  color: #484041;
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}

.aligncenter {
  text-align: center;
}

.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #FAF4E6;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #FAF4E6;
  display: block;
  float: left;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 12px;
  font-style: monospace, sanserif;
  text-decoration: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
